doctype
html
    head
        meta(charset="utf-8")
        title Suveniri i Modeliranje
        link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet")
    body
        .nav
            img(src="images/logo.png")
            .links
                a(href="#home") Home
                a(href="#galerija", target="_blank") galerija
                button kontakt
                .contact
                    .contactbox
                        h2 Suveniri:
                        p Danijela 0669602144
                        p Danijela
                    .contactbox
                        h2 Modeliranje:
                        p Zoran 0644735719
                    button#exit
        .landing
            .slider
                ul
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
            button
        .presentation
            .text
                h1 Galerija
                p Lorem ipsum dolor sit amet
            .buttons
                button.clicked Sve
                button Suveniri
                button Modeli
            .pictures
                .imgbox
                    img(src="./images/suveniri/1.jpg")
                    button.show
                .imgbox
                    img(src="./images/modeliranje/1.jpg")
                    button.show
                .imgbox
                    img(src="./images/suveniri/2.jpg")
                    button.show
                .imgbox
                    img(src="./images/modeliranje/2.jpg")
                    button.show
                .imgbox
                    img(src="./images/suveniri/3.jpg")
                    button.show
                .imgbox
                    img(src="./images/modeliranje/3.jpg")
                    button.show
                .imgbox
                    img(src="./images/modeliranje/4.jpg")
                    button.show
                .imgbox
                    img(src="./images/suveniri/4.jpg")
                    button.show
            button.exit Prikaži više
    script.
        document.write('<style>.contact { display: none; }</style>');