.presentation
    height: 100vh
    .cover
        height: 60%
        background-color: red
    .gallery
        display: flex
        flex-wrap: wrap
        height: 40%
        .item
            background-color: #545F66
            height: 50%
            width: 20%
