@media(max-width: 540px)
	.nav
		height: 80px
		img
			height: 70px
			margin: 5px 0 5px 10px !important
		.links
			visibility: hidden
			opacity: 0
			position: absolute
			right: 52px
			margin: 0 5px
			font-size: 18px
			button
				font-size: 18px
				margin: 0
			a
				margin: 0
		.dropdown
			position: absolute
			display: initial
			width: 32px
			height: 32px
			background-image: url(../images/menu.png)
			background-size: contain
			right: 10px
			&:focus,&:active
				outline: none
				box-shadow: none
		.contact
			position: absolute
			left: 45vw
			width: 90vw
		.test
			background-image: url(../images/close.png)