@import url('https://fonts.googleapis.com/css?family=Open+Sans')
.presentation
<<<<<<< HEAD
    font-family: "Open Sans", 'sans-serif'
    background-color: white
    max-width: 960px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    .pictures
        width: 100%
=======
    height: calc(100vh - 50px)
    overflow: hidden
    background-size: 100% auto
    background-repeat: no-repeat
    .cover
        position: relative
        height: 70%
        padding: 30px 0
        overflow: hidden
        ul
            margin: 0
            position: relative
            height: 100%
            list-style-type: none
            display: flex
            justify-content: center
            li
                padding: 0
                margin: 0
                position: absolute
                &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4)
                    display: none
                img
                    height: 100%
                    max-width: 100%
    .gallery
>>>>>>> a611760f81665103d28cb3e2484f8b4c354ccc33
        display: flex
        flex-wrap: wrap
        justify-content: center
        img
            width: 180px
            height: 180px
            margin: 10px
    .text
        text-align: center
        h1
            margin-bottom: 5px
    .buttons
        button
            font-family: "Open Sans", 'sans-serif'
            margin: 6px
            background-color: white
            outline: none
            border: 1px grey solid
            font-size: 95%
        .clicked
            background-color: #006699
            color: white
            border: 1px #006699 solid
    .exit
        font-family: "Open Sans", 'sans-serif'
        color: #006699
        margin: 10px
        background-color: white
        border: none
        width: 150px
        font-size: 20px
.show
    display: none
    position: absolute
    top: 50%
    left: 50%
    width: 32px
    height: 32px
    z-index: 1
    transform: translate(-16px,-16px)
    background-image: url(../images/expand.png)
    background-color: transparent
    background-size: 100%
    border: none
    &:focus
        outline: none
.imgbox
    position: relative
    &:hover > .hover
.hover
    .show
        transition: 0.5s all
        display: block
    img
        transition: 0.5s all
        filter: brightness(30%)





