doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="decritpion",content="Galerija Suvenira i Modela")
		meta(name="author", content="Jovan Petković")
		title Galerija
	body
		.nav
			img(src="images/logo.png")
			.links
				a(href="https://www.suveniri.cf") Home
				a(href="https://www.suveniri.cf/gallery", target="_blank") galerija
				button kontakt
				.contact
					.contactbox
						h2 Suveniri:
						p Danijela 0669602144
						p Danijela 062662160
					.contactbox
						h2 Modeliranje
						p Zoran 0644735719
					button#exit
		.section#etno
			.cover
				h1 Etno Motivi
			.gallery
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-1.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-2.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-3.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-4.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-5.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-6.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-7.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-8.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-9.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-10.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-11.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-12.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-13.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-14.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-15.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-16.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-17.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-18.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-19.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-20.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-21.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-22.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-23.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-24.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-etno-25.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-gocko-etno-26.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-piksle-etno-27.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-piksle-etno-28.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-sajkaca-etno-29.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-30.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-31.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-32.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-33.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-34.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-35.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-36.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-37.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-38.jpg")
					button.show
				.imgbox
					img(src="./images/etno/suveniri-opanci-etno-39.jpg")
					button.show
		.section#planine
			.cover
				h1 Planine i Banje
			.gallery
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-1.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-2.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-3.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-4.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-5.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-6.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-7.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-8.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-9.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-10.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-11.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-12.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-13.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-14.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-15.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-16.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-17.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-18.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-19.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-20.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-21.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-22.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-23.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-24.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-25.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-26.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-27.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-28.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-29.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-30.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-31.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-gocko-banje-32.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-33.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-34.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-35.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-36.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-banje-37.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-38.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-39.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-40.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-41.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-42.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-43.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-44.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-45.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-46.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-47.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-48.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-49.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-50.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-51.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-kornjace-banje-52.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-53.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-54.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-55.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-56.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-57.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-58.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-medice-banje-59.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-60.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-61.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-62.jpg")
					button.show
				.imgbox
					img(src="./images/planine/suveniri-piksle-banje-63.jpg")
					button.show
		.section#morski
			.cover
				h1 Morski Motivi
			.gallery
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-1.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-2.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-3.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-4.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-5.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-6.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-7.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-8.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-9.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-10.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-11.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-12.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-13.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-14.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-15.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-16.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-17.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-18.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-19.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-20.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-21.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-22.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-23.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-24.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-25.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-piksle-more-26.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-27.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-28.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-29.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-ribe-more-30.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-ribe-more-31.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-ribe-more-32.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-33.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-34.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-35.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-36.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-ribe-more-37.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-ribe-more-38.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-sidro-more-39.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-sidro-more-40.jpg")
					button.show
				.imgbox
					img(src="./images/morski/suveniri-more-41.jpg")
					button.show
		.section#piksle
			.cover
				h1 Piksle
			.gallery
				.imgbox
					img(src="./images/piksle/suveniri-piksle-1.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-2.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-3.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-4.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-5.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-6.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-7.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-8.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-9.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-10.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-11.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-12.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-13.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-14.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-15.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-16.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-17.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-18.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-19.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-20.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-21.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-22.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-23.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-24.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-25.jpg")
					button.show
				.imgbox
					img(src="./images/piksle/suveniri-piksle-26.jpg")
					button.show
		.section#crkve
			.cover
				h1 Crkve
			.gallery
				.imgbox
					img(src="./images/crkve/suveniri-ostrog-crkve-1.jpg")
					button.show
				.imgbox
					img(src="./images/crkve/suveniri-ostrog-crkve-2.jpg")
					button.show
				.imgbox
					img(src="./images/crkve/suveniri-ostrog-crkve-3.jpg")
					button.show
				.imgbox
					img(src="./images/crkve/suveniri-ostrog-crkve-4.jpg")
					button.show
				.imgbox
					img(src="./images/crkve/suveniri-ostrog-crkve-5.jpg")
					button.show
				.imgbox
					img(src="./images/crkve/suveniri-ostrog-crkve-6.jpg")
					button.show
				.imgbox
					img(src="./images/crkve/suveniri-crkve-7.jpg")
					button.show
		.section#magneti
			.cover
				h1 Magneti
			.gallery
				.imgbox
					img(src="./images/magneti/suveniri-magneti-1.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-2.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-3.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-4.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-5.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-6.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-7.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-8.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-9.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-10.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-11.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-12.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-13.jpg")
					button.show
				.imgbox
					img(src="./images/magneti/suveniri-magneti-14.jpg")
					button.show
		.section#izrada
			.cover
				h1 Izrada
			.gallery
				.imgbox
					img(src="./images/izrada/suveniri-izrada-1.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-2.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-3.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-4.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-5.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-6.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-7.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-8.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-9.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-10.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-11.jpg")
					button.show
				.imgbox
					img(src="./images/izrada/suveniri-izrada-12.jpg")
					button.show
		.modal
			img.imgshow