doctype html
html
	head
		title Galerija
	body
		.navigation
		.section#etnomodeli
			.cover
				h1 Etno Motivi
			.gallery
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
		.section#planine
			.cover
				h1 Planine i Banje
			.gallery
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
		.section#morski
			.cover
				h1 Morski Motivi
			.gallery
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item
				img(src='').item