doctype html
html
	head
		title Galerija
	body
		.navigation
		.section#etnomodeli
			.cover
				h1 Etno Modeli
			.gallery
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")
				.item
					img(src="")