doctype
html
    head
        meta(charset="utf-8")
        title Suveniri i Modeliranje
        //build:css css/index.min.css
        link(rel="stylesheet", type="text/css", href="css/slider.css")
        link(rel="stylesheet", type="text/css", href="css/presentation.css")
        link(rel="stylesheet", type="text/css", href="css/navigation.css")
        //endbuild
        link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
    body
        .landing
            .slider
                .nav
                    a(href="#suveniri", target="_blank") suveniri
                    a(href="#modeliranje", target="_blank") modeliranje
                    a(href="#galerija", target="_blank") galerija
                    a(href="#kontakt", target="_blank") kontakt
                ul
                    li slide 1
                    li slide 2
                    li slide 3
                    li slide 4
                    li slide 5
            .godown
                button(type="", )
        .navigation
            button.clicked suveniri
            button modeliranje
            button kontakt
        .presentation#suveniri
            .cover
            .gallery
                .item
                    img(src="images/", alt="")
                .item
                .item
                    img(src="images/", alt="")
                .item
                .item
                    a(href="#galerija", target="_blank") galerija
                .item
                .item
                    img(src="images/", alt="")
                .item
                .item
                    img(src="images/", alt="")
                .item
        .presentation#modeliranje
            .cover
            .gallery
                .item
                .item
                    img(src="images/", alt="")
                .item
                .item
                    img(src="images/", alt="")
                .item
                .item
                    img(src="images/", alt="")
                .item
                .item
                    img(src="images/", alt="")
                .item
                .item
                    a(href="#galerija", target="_blank") galerija
        .contactus#kontakt
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")    
//build:js js/index.min.js   
script(type="application/javascript", src="js/slider.js")
script(type="application/javascript", src="js/navigation.js")
//endbuild
