doctype
html
    head
        meta(charset="utf-8")
        title Suveniri i Modeliranje
        //build:css css/index.min.css
        link(rel="stylesheet", type="text/css", href="css/slider.css")
        link(rel="stylesheet", type="text/css", href="css/presentation.css")
        link(rel="stylesheet", type="text/css", href="css/navigation.css")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        //endbuild
        link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet")
    body
        .container
            .landing
                .slider
                    .nav
                        button suveniri
                        button modeliranje
                        a(href="#galerija", target="_blank") galerija
                        button kontakt
                    ul
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                .godown
                    button(type="", )
            .navigation
                button.clicked suveniri
                button modeliranje
                button kontakt
            .presentation#suveniri
                .cover
                    ul
                        li#suveniri1
                        li#suveniri2
                        li#suveniri3
                        li#suveniri4
                .gallery
                    .item
                    button(data-id="suveniri1").item
                    .item
                    button(data-id="suveniri2").item
                    .item
                    button(data-id="suveniri3").item
                    .item
                    button(data-id="suveniri4").item
                    .item
                    a(href="#galerija", target="_blank").item
                        .galerija
                            h2 Galerija
                            h2 Suvenira
                            img(src="images/right-arrow.png", alt="")
            .presentation#modeliranje
                .cover
                    ul
                        li#modeliranje1
                        li#modeliranje2
                        li#modeliranje3
                        li#modeliranje4
                    .contact#kontakt
                        .biggerblock    
                            .block
                                h2 Suveniri:
                                h3 Danijela 0669602144
                            .block    
                                h2 Modeliranje:
                                h3 Zoran 0644735719
                        .block
                            h2 Radno Vreme
                            h3 9:00 - 21:00
                .gallery
                    .item
                    button(data-id="modeliranje1").item
                    .item
                    button(data-id="modeliranje2").item
                    .item
                    button(data-id="modeliranje3").item
                    .item
                    button(data-id="modeliranje4").item
                    .item
                    a(href="#galerija", target="_blank").item
                        .galerija
                            h2 Galerija
                            h2 Modela
                            img(src="images/right-arrow.png", alt="")
            .contactus
                .info
                    .contactblock
                        h2 Suveniri:
                        h3 Danijela 0669602144
                    .contactblock
                        h2 Modeliranje:
                        h3 Zoran 0644735719
                    button
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")    
//build:js js/index.min.js
script(type="application/javascript", src="js/main.js")
script(type="application/javascript", src="js/presentation.js")
script(type="application/javascript", src="js/slider.js")
script(type="application/javascript", src="js/navigation.js")
//endbuild
